[Desktop Entry]
Encoding=UTF-8
Name=Link to asset
Type=Link
URL=https://www.dropbox.com/sh/5azvnhe4p3egm7n/AADo1Iutt3bTxg--yeUoep1Ya/asset?dl=0
Icon=text-html
